@font-face {
	font-family: 'Roboto'; /*TEMP*/
	src: url('../assets/fonts/Roboto.ttf');
}

:root {
    --margin: 8px;

    --transition: .3s;

    /*color-palette*/
    --color-main: hsl(270, 20%, 10%);
    --color-secondary: hsl(270, 8%, 12%);
    --saturated : hsl(270, 75%, 75%);
    --white: hsl(270, 10%, 75%);
    --gray: hsl(270, 10%, 55%);
    --black: hsl(0, 0%, 8%);
}

::-webkit-scrollbar {
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 12px;
    background-clip: content-box;
    background-color: var(--color-secondary);
}

/*------------------------------*/

html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    overflow: hidden;

    font-family: 'Roboto';
    font-size: 16px;
    color: var(--black);

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: var(--white);
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

a {
    all: unset;
}

/*------------------------------*/

@media (orientation: portrait) {
    .content {
        display: flex;
        flex-direction: column;
    }
}

/*------------------------------*/

@media (orientation: landscape) {
    .content {
        display: grid;
        grid-template-columns: 240px 1fr;
        grid-template-rows: auto 1fr 74px; /*48px 1fr 74px*/
        grid-template-areas:
            "sidebar header"
            "sidebar main"
            "footer main";
    }

    @media (max-width: 720px) {
        .content {
            grid-template-areas:
                "header header"
                "main main"
                "main main";
        }
    }
}
